################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/congestion-tax-calculator.Test.Unit/bin/Debug
/congestion-tax-calculator.Test.Unit/obj
